// custom variables
// $danger: #E00700;
// $light:#fbf5e5;

// Accordion all races
// $accordion-padding-y:                     1rem;
// $accordion-padding-x:                     1.25rem;
$accordion-color:                         #ffff;
$accordion-bg:                            #212129;
// $accordion-border-width:                  var(--#{$prefix}border-width);
// $accordion-border-color:                  var(--#{$prefix}border-color);
// $accordion-border-radius:                 var(--#{$prefix}border-radius);
// $accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

// $accordion-body-padding-y:                $accordion-padding-y;
// $accordion-body-padding-x:                $accordion-padding-x;

// $accordion-button-padding-y:              $accordion-padding-y;
// $accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  #ffff;
// $accordion-button-bg:                     var(--#{$prefix}accordion-bg);
// $accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              #4F1C82;
$accordion-button-active-color:           #ffff;


// $accordion-button-focus-border-color:     $input-focus-border-color;
// $accordion-button-focus-box-shadow:       $btn-focus-box-shadow;

// $accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    #ffff;
$accordion-icon-active-color:             #ffff;
// $accordion-icon-transition:               transform .2s ease-in-out;
// $accordion-icon-transform:                rotate(-180deg);

$btn-close-color: #ffff;

$modal-content-bg: #15151E;
$modal-content-border-color: #ffff;

$modal-header-bg:  #212129;

$pagination-color: #ffff;
$pagination-active-bg: #4F1C82;  
$pagination-active-border-color: #15151E;   
$pagination-border-color: #15151E;
$pagination-bg: #212129;

$pagination-disabled-color:         #ffff;
$pagination-disabled-bg:            #15151E;
$pagination-disabled-border-color:  #212129;

// import functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

// custom theme colors
$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192,
    "f1red": #E00700,
    "f1dark": #15151E,
    "f1purple": #4F1C82,
    "footer": #212129,
    
);

$theme-colors: map-merge($map1: $custom-theme-colors, $map2: $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';